In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('unique_attendance_15/presenza_tot_finale.csv')
pm = pd.read_csv('particulate_matter/PM_final.csv')
weather = pd.read_csv('weather/weather-final-data.csv')

In [23]:

df0 =df[df['areaAnalisi'].str.contains('Intero Comune')]
df0['areaAnalisi'] = 0
df1 =df[df['areaAnalisi'].str.contains('Cagliari - 001')]
df1['areaAnalisi'] = 1
df2 =df[df['areaAnalisi'].str.contains('Cagliari - 002')]
df2['areaAnalisi'] = 2
df3 =df[df['areaAnalisi'].str.contains('Cagliari - 003')]
df3['areaAnalisi'] = 3
df4 =df[df['areaAnalisi'].str.contains('Cagliari - 004')]
df4['areaAnalisi'] = 4
df5 =df[df['areaAnalisi'].str.contains('Cagliari - 005')]
df5['areaAnalisi'] = 5
df6 =df[df['areaAnalisi'].str.contains('Cagliari - 006')]
df6['areaAnalisi'] = 6
df7 =df[df['areaAnalisi'].str.contains('Cagliari - 007')]
df7['areaAnalisi'] = 7
df8 =df[df['areaAnalisi'].str.contains('Cagliari - 008')]
df8['areaAnalisi'] = 8
df9 =df[df['areaAnalisi'].str.contains('Cagliari - 009')]
df9['areaAnalisi'] = 9
df10 =df[df['areaAnalisi'].str.contains('Cagliari - 010')]
df10['areaAnalisi'] = 10
df11 =df[df['areaAnalisi'].str.contains('Cagliari - 011')]
df11['areaAnalisi'] = 11
df12 =df[df['areaAnalisi'].str.contains('Cagliari - 012')]
df12['areaAnalisi'] = 12

datetime = df0['datetime']
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]
dfs = [d.drop(['datetime', 'areaAnalisi'], axis=1).reset_index(drop=True) for d in dfs]
attendance = pd.concat([datetime] + dfs, axis=1, ignore_index=True)
attendance

/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['areaAnalisi'] = 0
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['areaAnalisi'] = 1
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['areaAnalisi'] = 2
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['areaAnalisi'] = 3
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['areaAnalisi'] = 4
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['areaAnalisi'] = 5
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['areaAnalisi'] = 6
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['areaAnalisi'] = 7
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['areaAnalisi'] = 8
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['areaAnalisi'] = 9
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['areaAnalisi'] = 10
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['areaAnalisi'] = 11
/var/folders/sv/9dcz9m3116x4jvdkxys5yp5c0000gn/T/ipykernel_5772/2365848444.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['areaAnalisi'] = 12

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2024-08-01 00:00:00,24897.50,16055.75,3477.50,16579.50,14583.50,12323.50,9108.50,12633.00,17045.75,17236.00,9301.25,4595.50
1,2024-08-01 01:00:00,24132.75,16309.50,3532.25,16364.50,14662.00,12278.25,9251.75,12622.25,17075.00,16669.75,9272.50,4441.75
2,2024-08-01 02:00:00,23319.75,16543.75,3556.25,16072.75,14626.75,12221.50,9155.25,12516.00,17159.00,16123.00,9218.75,4343.00
3,2024-08-01 03:00:00,22887.50,16712.00,3551.75,15896.25,14456.00,12036.00,9047.00,12369.25,17112.25,15795.00,9121.25,4102.25
4,2024-08-01 04:00:00,22748.75,16903.50,3619.50,15878.50,14433.00,11822.50,8959.25,12367.00,16987.00,15919.50,8966.50,4073.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,2024-10-08 17:00:00,34881.25,20997.75,3845.00,21232.50,14173.50,12252.00,12134.00,13690.75,21479.25,23624.25,9470.00,3782.00
1650,2024-10-08 18:00:00,33674.25,19458.50,3625.25,20818.75,14362.25,12447.00,11670.25,13501.75,20813.50,22924.00,9496.50,4008.00
1651,2024-10-08 19:00:00,33021.50,18793.25,3623.00,20360.00,14497.25,12349.50,11315.75,13317.25,20449.75,22410.50,9463.50,4218.25
1652,2024-10-08 20:00:00,32057.00,18325.00,3638.00,20260.00,14753.25,12433.75,11096.50,13184.00,20368.25,21975.75,9433.50,4148.75
1653,2024-10-08 21:00:00,31236.00,18208.00,3613.00,20336.00,14951.00,12495.00,11143.00,13183.00,20337.00,21611.00,9474.00,4057.00

In [32]:
attendance.columns = ['datetime'] + [f'AttendanceArea{i+1}' for i in range(12)] 
attendance

,datetime,AttendanceArea1,AttendanceArea2,AttendanceArea3,AttendanceArea4,AttendanceArea5,AttendanceArea6,AttendanceArea7,AttendanceArea8,AttendanceArea9,AttendanceArea10,AttendanceArea11,AttendanceArea12
0,2024-08-01 00:00:00,24897.50,16055.75,3477.50,16579.50,14583.50,12323.50,9108.50,12633.00,17045.75,17236.00,9301.25,4595.50
1,2024-08-01 01:00:00,24132.75,16309.50,3532.25,16364.50,14662.00,12278.25,9251.75,12622.25,17075.00,16669.75,9272.50,4441.75
2,2024-08-01 02:00:00,23319.75,16543.75,3556.25,16072.75,14626.75,12221.50,9155.25,12516.00,17159.00,16123.00,9218.75,4343.00
3,2024-08-01 03:00:00,22887.50,16712.00,3551.75,15896.25,14456.00,12036.00,9047.00,12369.25,17112.25,15795.00,9121.25,4102.25
4,2024-08-01 04:00:00,22748.75,16903.50,3619.50,15878.50,14433.00,11822.50,8959.25,12367.00,16987.00,15919.50,8966.50,4073.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,2024-10-08 17:00:00,34881.25,20997.75,3845.00,21232.50,14173.50,12252.00,12134.00,13690.75,21479.25,23624.25,9470.00,3782.00
1650,2024-10-08 18:00:00,33674.25,19458.50,3625.25,20818.75,14362.25,12447.00,11670.25,13501.75,20813.50,22924.00,9496.50,4008.00
1651,2024-10-08 19:00:00,33021.50,18793.25,3623.00,20360.00,14497.25,12349.50,11315.75,13317.25,20449.75,22410.50,9463.50,4218.25
1652,2024-10-08 20:00:00,32057.00,18325.00,3638.00,20260.00,14753.25,12433.75,11096.50,13184.00,20368.25,21975.75,9433.50,4148.75
1653,2024-10-08 21:00:00,31236.00,18208.00,3613.00,20336.00,14951.00,12495.00,11143.00,13183.00,20337.00,21611.00,9474.00,4057.00

In [33]:
final_ds = pd.concat([attendance, pm.drop('Time', axis=1), weather.drop('ts_get', axis=1)], axis=1)
final_ds

,datetime,AttendanceArea1,AttendanceArea2,AttendanceArea3,AttendanceArea4,AttendanceArea5,AttendanceArea6,AttendanceArea7,AttendanceArea8,AttendanceArea9,...,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,max_temp,min_temp,ave_temp,cod_weather
0,2024-08-01 00:00:00,24897.50,16055.75,3477.50,16579.50,14583.50,12323.50,9108.50,12633.00,17045.75,...,62,1013,0.0,1.54,360,0,28.21,25.46,27.35,800
1,2024-08-01 01:00:00,24132.75,16309.50,3532.25,16364.50,14662.00,12278.25,9251.75,12622.25,17075.00,...,60,1013,0.0,1.03,0,0,27.66,24.81,26.85,800
2,2024-08-01 02:00:00,23319.75,16543.75,3556.25,16072.75,14626.75,12221.50,9155.25,12516.00,17159.00,...,66,1013,0.0,1.54,10,0,27.10,23.81,26.16,800
3,2024-08-01 03:00:00,22887.50,16712.00,3551.75,15896.25,14456.00,12036.00,9047.00,12369.25,17112.25,...,61,1012,0.0,1.03,0,0,25.97,23.79,24.97,800
4,2024-08-01 04:00:00,22748.75,16903.50,3619.50,15878.50,14433.00,11822.50,8959.25,12367.00,16987.00,...,62,1013,0.0,1.54,50,0,25.97,22.81,24.87,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,2024-10-08 17:00:00,34881.25,20997.75,3845.00,21232.50,14173.50,12252.00,12134.00,13690.75,21479.25,...,55,1017,0.0,1.79,132,0,28.77,27.81,28.77,800
1650,2024-10-08 18:00:00,33674.25,19458.50,3625.25,20818.75,14362.25,12447.00,11670.25,13501.75,20813.50,...,53,1017,0.0,4.02,289,0,19.30,17.81,18.67,800
1651,2024-10-08 19:00:00,33021.50,18793.25,3623.00,20360.00,14497.25,12349.50,11315.75,13317.25,20449.75,...,79,1017,0.0,3.60,350,0,17.68,13.81,14.68,800
1652,2024-10-08 20:00:00,32057.00,18325.00,3638.00,20260.00,14753.25,12433.75,11096.50,13184.00,20368.25,...,66,1015,0.0,2.68,355,0,18.79,17.64,17.65,800
1653,2024-10-08 21:00:00,31236.00,18208.00,3613.00,20336.00,14951.00,12495.00,11143.00,13183.00,20337.00,...,79,1013,0.0,3.09,340,0,23.79,22.64,22.91,800

In [34]:
final_ds.columns

Index(['datetime', 'AttendanceArea1', 'AttendanceArea2', 'AttendanceArea3',
       'AttendanceArea4', 'AttendanceArea5', 'AttendanceArea6',
       'AttendanceArea7', 'AttendanceArea8', 'AttendanceArea9',
       'AttendanceArea10', 'AttendanceArea11', 'AttendanceArea12',
       'PM2.5_Sensor1', 'PM2.5_Sensor2', 'PM2.5_Sensor3', 'PM10_Sensor1',
       'PM10_Sensor2', 'PM10_Sensor3', 'id', 'hum', 'pres', 'rain_1h',
       'wind_speed', 'wind_deg', 'clouds_all', 'max_temp', 'min_temp',
       'ave_temp', 'cod_weather'],
      dtype='object')

In [35]:
final_ds.drop('id', axis=1, inplace=True)
final_ds.isnull().sum()

datetime            0
AttendanceArea1     0
AttendanceArea2     0
AttendanceArea3     0
AttendanceArea4     0
AttendanceArea5     0
AttendanceArea6     0
AttendanceArea7     0
AttendanceArea8     0
AttendanceArea9     0
AttendanceArea10    0
AttendanceArea11    0
AttendanceArea12    0
PM2.5_Sensor1       0
PM2.5_Sensor2       0
PM2.5_Sensor3       0
PM10_Sensor1        0
PM10_Sensor2        0
PM10_Sensor3        0
hum                 0
pres                0
rain_1h             0
wind_speed          0
wind_deg            0
clouds_all          0
max_temp            0
min_temp            0
ave_temp            0
cod_weather         0
dtype: int64

In [36]:
final_ds.columns

Index(['datetime', 'AttendanceArea1', 'AttendanceArea2', 'AttendanceArea3',
       'AttendanceArea4', 'AttendanceArea5', 'AttendanceArea6',
       'AttendanceArea7', 'AttendanceArea8', 'AttendanceArea9',
       'AttendanceArea10', 'AttendanceArea11', 'AttendanceArea12',
       'PM2.5_Sensor1', 'PM2.5_Sensor2', 'PM2.5_Sensor3', 'PM10_Sensor1',
       'PM10_Sensor2', 'PM10_Sensor3', 'hum', 'pres', 'rain_1h', 'wind_speed',
       'wind_deg', 'clouds_all', 'max_temp', 'min_temp', 'ave_temp',
       'cod_weather'],
      dtype='object')

In [37]:
final_ds.to_csv('final_ds.csv', index=False)