In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Read the CSV file
# Replace 'your_file.csv' with your actual file path
dfw = pd.read_csv('weather-010824-061024.csv')

In [4]:
dfw.isnull().sum()

id             0
hum            0
pres           0
rain_1h        0
wind_speed     0
wind_deg       0
clouds_all     0
ts_get         0
max_temp       0
min_temp       0
ave_temp       0
cod_weather    0
dtype: int64

In [5]:
start = '2024-08-01 00:00:00'
stop = '2024-10-08 21:10:00'

In [6]:
dfw = dfw[(dfw['ts_get'] >= start) & (dfw['ts_get'] <= stop)]

In [7]:
dfw

,id,hum,pres,rain_1h,wind_speed,wind_deg,clouds_all,ts_get,max_temp,min_temp,ave_temp,cod_weather
0,41752,62,1013,0.0,1.54,360,0,2024-08-01 00:00:02,28.21,25.46,27.35,800
1,41753,60,1013,0.0,1.03,0,0,2024-08-01 01:00:01,27.66,24.81,26.85,800
2,41754,66,1013,0.0,1.54,10,0,2024-08-01 02:00:03,27.10,23.81,26.16,800
3,41755,61,1012,0.0,1.03,0,0,2024-08-01 03:00:02,25.97,23.79,24.97,800
4,41756,62,1013,0.0,1.54,50,0,2024-08-01 04:00:03,25.97,22.81,24.87,800
...,...,...,...,...,...,...,...,...,...,...,...,...
1644,43396,87,1012,0.0,2.06,70,75,2024-10-08 17:00:02,18.98,17.81,18.18,803
1645,43397,82,1012,0.0,2.57,110,20,2024-10-08 18:00:03,17.81,17.64,17.66,801
1646,43398,83,1013,0.0,1.54,90,20,2024-10-08 19:00:04,17.66,16.81,17.66,801
1647,43399,83,1013,0.0,2.06,110,58,2024-10-08 20:00:03,17.10,16.81,17.10,803
1648,43400,88,1013,0.0,1.54,80,62,2024-10-08 21:00:02,18.79,16.81,17.20,803

In [8]:
dfw.to_csv(f'weather-from-{start}-to-{stop}.csv', index=False)